.QuickFactsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.Fact {
  display: flex;
  gap: 20px;
  align-items: center; 
}

.Fact p {
  width: 300px;
}

@media (max-width: 1489px) {  
  .QuickFactsWrapper h2{
    display: none;
  }
  .QuickFactsWrapper {
    flex-direction: row;
    align-items: center;
    width: 90%;
    gap: 20px;
  }  

  /* works ok until some text will have 3 lines */
  .Fact p {
    width: auto;
  }
  .Fact {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
