.Wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.Wrapper p { 
  width: 300px;
}


@media (max-width: 1489px) {  
  .Wrapper {
    gap: 30px;
    width: 50%;
    align-items: center;
  }

}
