.Wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.Wrapper p { 
  width: 300px;
}


@media (max-width: 1439px) {  
  .Wrapper {
    width: 90%;
    flex-direction: row;
  }
  .Wrapper p { 
    width: 40%;
  }
}
