.CardsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  width: 100%;
}


.NotFound {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}

.SearchCard {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  padding: 26px;
  gap: 30px;
  border-radius: 4px;
  background-color: #E2E8FF;
  height: 260px;
  width: 100%;
  text-decoration: none;
  color: #000000;
}

.SearchCard:active {
  cursor: pointer;
  transform: translateY(10px);
}

.SearchCard:hover {
  cursor: pointer;
}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;

}

.ImgWrap {
  max-width: 200px;
  max-height: 100%;
  overflow: hidden;
  border-radius: 4px;
}

.Facts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

@media (max-width: 1489px) {  
  .SearchCard {
    width: 90%;
    margin-left: 25px;
  }
}
@media (max-width: 1439px) {  
  .SearchCard {
    margin-left: 0;
  }
}

@media (max-width: 700px) {  
  .ImgWrap {
    display: none;
  }
}
