.titleRoot {
  display: flex;
  margin-bottom: 59px;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.body {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 34px;
}

.timeline {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  width: 80%
}

.fact {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;  
}

.Date {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  height: 80px;
  width: 364px;

  margin-right: 67px;
  background-color: #E2E8FF;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
}

.info {
  display: block;
  flex: 1;
}

@media (max-width: 969px) {  
  .ArtistCoreInfoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .titleRoot {
    width: 80%;
  }
  .body {
    width: 100%;
  }
}

@media (max-width: 800px) {  
  .body {
    width: 100%;
  }
  .Date {
    margin-top: 60px;
    width: 100%;
    margin-right: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 70%, 50% 100%, 0% 70%);
  }
  .fact {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px
  }
  .fact p {
    max-width: 100%
  }
}
