.LanguageButton {
  color: #FFF;
  text-shadow: 0px 0px 7px #FFF;
  font-size: 21px;
  font-weight: 500;
  line-height: 143%; 
  transition: ease-in 0.15s;
  border: none;
  background: none;
}

.LanguageButton:hover {
  cursor: pointer;
  text-shadow: 0px 0px 12px #FFF;
}

.LanguageButton:active {
  cursor: pointer;
  transform: translateY(2px);
}
