.Intro {
  margin-top: -270px;

  width: 1440px;
  height: 920px;  
  background: url("../../assets/images/Header-bg.png") no-repeat;
  box-sizing: border-box;
  padding: 50px 100px 200px 100px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 120px;
}

.LeftColumn {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.TextAndButton {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.LeftColumn h1 {
  color: #FFF;
  text-shadow: 0px 0px 7px #FFF;
  font-family: Montserrat;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 103.664%; 
  
  width: 496px;
}

.TextAndButton {
  width: 310px;
}

.ArtistOfTheDay, .WannaKnowMore, .Developers  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  width: 100%;
}

.ArtistInfo, .ProjectInfo  {
  display: flex;
  justify-content: left;
  gap: 30px;
  width: 100%;
  height: 500px;
}
 
.ImgWrapper {
  flex: 1;
  max-height: 100%;
  overflow: hidden;
}

.ProjectInfo {
  align-items: flex-start;
  height: auto;
}

.ProjectInfo p {
  width: 300px;
}

.ProjectFact {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: left;
  gap: 30px;

}

.StarredHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin-left: -8px;
}

.DevsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.Note {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #E2E8FF;
  width: 100%;
  height: 50px;
  gap: 10px;
}



@media (max-width: 1489px) {  
  .WannaKnowMore {
    align-items: center;
  }
  .SectionHeader {
    align-self: flex-start;
  }
  .root {
    width: 100%;
  }
  .LeftColumn h1 {
    font-size: 61px;
  }
  .ArtistInfo {
    align-items: center;
    flex-direction: column-reverse;
    height: 1042px;
  }
  .Intro {
    width: 100%;
    margin-top: -290px;
  }
  .ImgWrapper {
    margin: 0 50px 0 50px;
    min-height: 640px;
  }

  .Wrapper {
    width: 90%;
    flex-direction: row;
  }
  .ProjectInfo {
    width: 90%
  }
  .ProjectInfo p {
    width: auto;
  }
  .DevsWrapper {
    width: 90%
  }
  .Developers {
    align-items: center;
  }

  .Note {
    width: 90%;
  }

  section > h1 {
    margin-left: 5%;
  }
}
