 
.ColorWrapper {
  height: 200px;
  background-color: #E2E8FF;

  display: flex;
  justify-content: flex-start;
  padding: 26px;
  gap: 20px;
  border-radius: 4px;
}

.TextualInfo, .FactsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;

}

.FactsWrapper {
  gap: 15px;
}


.Link {
  width: 45%;
  text-decoration: none;
  color: #000000;
}

.Link:hover {
  cursor: pointer;
}

.Link:active {  
  cursor: pointer;
  transform: translateY(10px);
}

@media (max-width: 1200px) {  
  .Link {
    min-width: 430px;
  }
}

@media (max-width: 1012px) {  
  .Link {
    width: 90%;
  }
}

@media (max-width: 430px) {  
  .Link {
    min-width: auto;
  }
}