.root {
  display: flex;
  flex-direction: column;
  gap: 130px;
  
  width: 1440px;
  justify-content: left;

  height: 100%;
}

.header {
  background-color: #2A26E4;
  padding: 50px 100px 50px 100px;

  background: url("./assets/images/Header-bg.png") no-repeat;
  background-position: 0 90%;
}
