.NumberedCircle {
  background-color: transparent;
  border: #2A26E4 1px solid;
  color: #2A26E4;
  border-radius: 50px;
  box-sizing: border-box;
  width: 36px;
  height: 36px;

  display: flex;
  justify-content: center;
  align-items: center;
}
